.imgContainer {
    position: relative;
    height: 100vh;
}

img {
    position: absolute;
    width: 100%;
    bottom: -20%;
    background-clip: border-box;
}

.img3 {
    z-index: 1;
}

.img2 {
    z-index: 2;
}

.img1 {
    z-index: 3;
}

h1 {
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}